<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Item</title>
</head>
<body>
    <h1>Add a To-Do item</h1>
    <form method="POST" action="add">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- .as_p is like add <p> tags to the form in the example below -->
        <!-- We could also use .as_table to use a table formatt -->
        
        <!-- The template "form" tag above replaces the commented out html code below.  It will now be automatically generate from the database -->
        <!-- using the details contained within forms.py -->
        <!-- <div>
            <p>
                <label for="id_name">Name: </label>
                <input type="text" id="id_name" name="item_name" />
            </p>
        </div>
        <div>
            <p>
                <label for="id_done">Done! </label>
                <input type="checkbox" id="id_done" name="done" />
            </p>
        </div> -->
        <div>
            <p>
                <button type="submit">Add Item</button>
            </p>
        </div>
    </form>
</body>
</html>